{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 form-control form-control m-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <h1>Register</h1>
                    </div>
                </div>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <label for="inputName" class="form-label">Username</label>
                <input id="inputName" name="Name" class="form-control" required>
                {{ form_row(registrationForm.agreeTerms) }}

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <p>Already have an account? <a href="{{ path('login') }}">Logg in</a></p>

                <button type="submit" class="btn btn-outline-warning text-black">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
