{% extends('base.html.twig') %}

{% block title %}Create new subcomment{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <h1>Create new subcomment</h1>
        <form action="{{ path('create_subcomment', {id: id}) }}" method="post">
            <label for="inputText" class="form-label">Text of comment</label>
            <textarea class="form-control" name="Text" id="inputText" rows="3" placeholder="Enter text of a comment" required></textarea>
            <input type="hidden" name="idComment" value="{{ id }}">
            <button type="submit" class="btn btn-outline-warning mt-sm-3 text-black">Submit</button>
        </form>
        {% if (error) %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}