{% extends('base.html.twig') %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container">
        <h1>All comments</h1>
        {% if (comments) %}
            {% for comment in comments %}
                {% set counter = 0 %}
                <div class="border-2 border border-warning m-2 rounded bg-dark bg-opacity-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="ms-sm-2 text-info">#{{ comment.id }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <h5>{{ comment.Owner }}</h5>
                                    </div>
                                    <div class="col-auto text-black-50">
                                        <span>{{ comment.createdAt |date }}</span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <p class="ms-sm-2">{{ comment.Text }}</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end me-sm-2">
                                        {% if app.user.Username == comment.Owner %}
                                            <a class="btn btn-outline-warning text-black"
                                               href="{{ path('edit_comment', {id: comment.id}) }}">Edit comment</a>
                                        {% else %}
                                            <a class="btn btn-outline-warning text-black"
                                               href="{{ path('create_subcomment', { id: comment.id }) }}">Create subcomment</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 border-2 border-top border-dark">
                                <h5 class = "ms-sm-2">Subcomments:</h5>
                                {% for subcomment in comment.subcomments %}
                                    <div class="border border-1 border-dark rounded ms-sm-3">
                                        <div class="d-flex">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <span class="ms-sm-2 text-info">#{{ subcomment.id }}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <h6>{{ subcomment.Owner }}</h6>
                                                </div>
                                                <div class="col-auto text-black-50">
                                                    <span>{{ subcomment.createdAt |date }}</span>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="ms-sm-2">{{ subcomment.Text }}</p>
                                        </div>
                                    </div>
                                    {% set counter = counter+1 %}
                                {% endfor %}
                                {% if counter == 0 %}
                                    <h6 class="ms-sm-5">No subcomments here. Became first!</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger d-flex align-items-center">
                No comments found!
            </div>
        {% endif %}
    </div>
{% endblock %}