{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="{{ path('login') }}" method="post" class="form-control m-3">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <label for="username" class="form-label">Email:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>

                    <label for="password" class="form-label">Password:</label>
                    <input class="form-control" type="password" id="password" name="_password"/>

                    {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"/> #}
                    {% if error %}
                        <div class="alert alert-danger mt-sm-3">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <p>Don`t have an account? <a href="{{ path('app_register') }}">Register new one now</a>!</p>

                    <button type="submit" class="btn btn-outline-warning text-black mt-sm-3">login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
