<header class="p-3 bg-black text-white">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="d-flex justify-content-start">
                    <h3>Symfony App</h3>
                    <ul class="nav nav-tabs ms-sm-5 col-12 col-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('create_comment') }}">Create new comment</a>
                        </li>
                        <li class="nav-item">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-link text-white" href="{{ path('show_my_comments', {id: app.user.id}) }}">
                                View my comments</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-4">
                    <div class="d-flex justify-content-end">
                        <div class="dropdown">
                            <button class="btn btn-outline-warning text-white dropdown-toggle" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.Username }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>